<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson 39</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root"></div>
</body>
<script>
    const app = Vue.createApp({
            setup(){
                const {reactive,watch,toRefs,watchEffect} = Vue;
                const nameObj = reactive({name:'dell',englishname:'lee'})
            watch([()=>nameObj.name,()=>nameObj.englishname],([curName,curEng],[prevName,prevEng])=>{
                    console.log('watch',curName,prevName,'--',curEng,prevEng)
                })
            const stop=watchEffect(()=>{
                console.log(nameObj.name)
                setTimeout(()=>{
                    stop();
                },5000)
            })

            const {name,englishname}=toRefs(nameObj)
            return{
                name,englishname
                }
        },
        template: 
        `
        <div>
            <div>
            Name: <input v-model="name">
            </div>
            <div>
            Name is {{ name }}
            </div>
            <div>
            EnglishName: <input v-model="englishname">
            </div>
            <div>
            Name is {{ englishname }}
            </div>
        </div>
        `


    });


    const vm = app.mount('#root')
</script>
</html>