@font-face {
  font-family: 'iconfont';  /* Project id 2815366 */
  src: url('//at.alicdn.com/t/font_2815366_ft0j66z479e.woff2?t=1631785303161') format('woff2'),
       url('//at.alicdn.com/t/font_2815366_ft0j66z479e.woff?t=1631785303161') format('woff'),
       url('//at.alicdn.com/t/font_2815366_ft0j66z479e.ttf?t=1631785303161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}