$content-fontcolor: #333;
$bgcolor: #FFF;
$light-fontColor: #999;
$content-bgColor: #F1F1F1F1;
$content-notice-fontcolor: #777;
$search-bgColor: #F5F5F5;
$search-fontColor: #B7B7B7;
$hightlight-fontColor: #E93B3B;
$medium-fontColor: #666;
$btn-bgColor: #0091ff;
$dark-fontColor: #000